<html>
    <head>
        <style type="text/css">
            <!--
            body
            {
                background-image:url("images/<%= @picture %>");
                background-attachment:fixed;
                background-repeat:no-repeat;
                background-position:center;
            }
            table, tr, td 
            {
                background-color:transparent;
                border: 0px;
                padding:2;
            }
            -->
        </style>
    </head>

    <body>

        <center>

            <form action="/go" method="post">

                <input style="width:450px;" type="text" 
                        name="command" 
                        value="<%= rand(2) %>" />  <br />
                <input type="submit" value="FECBA it" />

            </form>

        </center>

    </body>

</html>
